.general {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 20px;
  padding: 20px 30px;
  margin-top: 20px;
  max-width: 480px;
}
.general-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.general h3 {
  font-size: 14px;
  color: var(--text-h);
}
.general label {
  font-weight: 700;
  font-size: 16px;
  color: var(--text);
}
.general input {
  font-size: 14px;
  padding: 4px 6px;
  background-color: var(--input-bg);
  border: 1px solid var(--border);
  border-radius: 4px;
}
.general button {
  font-size: 14px;
  align-self: end;
  background-color: var(--accent-bg);
  border-radius: 4px;
  border: 1px solid var(--border);
  padding: 4px 10px;
}
.general button:hover {
  transform: scale(0.95);
  background-color: var(--accent-bg-hover);
}
.general button:active {
  transform: scale(0.85);
}
.general h4 {
  font-size: 34px;
}
.general p {
  font-size: 14px;
  color: var(--text-h);
}
