.header {
  border: 1px solid var(--border);
  border-radius: 20px;
  padding: 20px 30px;
}
.header h1 {
  font-size: 14px;
  color: var(--text-h);
}
.header h2 {
  font-size: 38px;
}
.header p {
  font-size: 16px;
  color: var(--text-h);
}
@media (max-width: 640px) {
  .header {
    max-width: 480px;
  }
}
