.practical {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 20px;
  padding: 20px 30px;
  margin-top: 20px;
  max-width: 480px;
}
.practical-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.practical h3 {
  font-size: 14px;
  color: var(--text-h);
  margin-bottom: 10px;
}
.practical label {
  font-weight: 700;
  font-size: 16px;
  color: var(--text);
}
.practical input {
  font-size: 14px;
  padding: 4px 6px;
  background-color: var(--input-bg);
  border: 1px solid var(--border);
  border-radius: 4px;
  width: 250px;
}
.practical textarea {
  font-size: 14px;
  padding: 4px 6px;
  background-color: var(--input-bg);
  border: 1px solid var(--border);
  border-radius: 4px;
  width: 250px;
  resize: vertical;
}
.practical button {
  font-size: 14px;
  align-self: end;
  background-color: var(--accent-bg);
  border-radius: 4px;
  border: 1px solid var(--border);
  padding: 4px 10px;
  margin-top: 20px;
  font-weight: 600;
}
.practical button:hover {
  transform: scale(0.95);
  background-color: var(--accent-bg-hover);
}
.practical button:active {
  transform: scale(0.85);
}
.practical h4 {
  font-size: 34px;
}
.practical p {
  font-size: 14px;
  color: var(--text-h);
}
@media (max-width: 480px) {
  .practical-field {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .practical input {
    width: 100%;
  }
  .practical textarea {
    width: 100%;
  }
  .practical button {
    align-self: start;
  }
}
