body {
  margin: 20px;
}
#content {
  display: flex;
}
#right-content {
  width: 100%;
  margin-left: 20px;
}
@media (max-width: 640px) {
  #content {
    flex-wrap: wrap;
  }
  #left-content {
    width: 100%;
  }
  #right-content {
    margin-left: 0;
    max-width: 480px;
  }
}
